@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
html{
    height: 100%;
}
body{
    background-color: rgb(74, 43, 160);
    font-family: Bebas Neue;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 7.5% 5% 7.5% 10% 10% 10% 10%;
}
header{display: flex;
    position: absolute;
    z-index: 1;
    top: 26vw;
    left: 44vw;
    grid-column: 5/8;
}
.boxup{
    width: 1.5vw;
    height: 2.2vw;
    transition: ease 0.5s;
}
.boxup:hover{
    background-color:white;
    transition: 0.01s;
    transform: translatey(800px) scale(1.2);
}
.boxdown{
    width: 1.5vw;
    height: 2.2vw;
    transition: ease 0.5s;
}
.boxdown:hover{
    background-color: rgb(255, 174, 0);
    transition: 0.01s;
    transform: translatey(-400px) scale(1.2);
}
#name_wrapper{ 
    grid-column: 1/13;
    font-size: 1.6vw;
    text-align: center;
    vertical-align: middle;
    position: relative;
    /* bottom: -80%;
     */
    letter-spacing: 0.3vw;
    top:12vw;
    background-color: rgba(240, 255, 255, 0.336);
    color: rgb(255, 255, 255);
}
.icon_wrapper{
    position: relative;
    top: 5vw;
    /* left: -5%; */
    grid-column: 4/9;
    width: 100%;
    text-align: center;
}
#brain{
    margin-right: 5vw;
    margin-bottom: 2.5vw;
    height: 4vw;
}
#brain:hover{
    transition: 1s;
    transform: rotatey(360deg);
}
#code{
    height: 10vw;
    /* padding-bottom: 1.3vw; */
}
#science{
    margin-left: 5vw;
    margin-bottom: 2.5vw;
    height: 4vw;
}
#science:hover{
    transition: 1s;
    transform: rotatey(360deg);
}

.social_wrapper{
    justify-content: center ;
    position: relative;
    width:100%;
    top: 65vw;
    display: flex;
    grid-column: 4/9;
}
#linkedin{
    margin:3vw;
    width: 7vw;
    /* background-color: white; */
    border-radius: 10%;
}
#github{
    margin: 3vw;
    width: 7vw;
}
#linkedin:hover{
    transition: 2s;
    transform: scale(1.3);
}
#github:hover{
    transition: 1s;
    transform: scale(1.3)
}
#project-grid{
    columns: 1/11;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    position: absolute;
    top: 40vw;
    left: 7%;
    padding: 1vw;
}
#burger-container,
#burger-container *{
    box-sizing: border-box;
}
#imdb-container,
#imdb-container {
    box-sizing: border-box;
}
#codebreakers-container,
#codebreakers-container *{
    box-sizing: border-box;
}
#pace-container,
#pace-container *{
    box-sizing: border-box;
}
#friendo-container,
#friendo-container *{
    box-sizing: border-box;
}
#mh-container,
#mh-container *{
    box-sizing: border-box;
}
#burger-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
    /* overflow: hidden; */
}
#imdb-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
}
#codebreakers-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
}
#pace-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
}
#friendo-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
}
#mh-container{
    position: relative;
    color: white;
    display: inline-block;
    transition: ease 1s;
}
#burger-container #burger-world{
    display: block;
}
#imdb-container #seen-it{
    display: block;
}
#codebreakers-container #codebreakers{
    display: block;
}
#pace-container #pace{
    display: block;
}
#friendo-container #friendo{
    display: block;
}
#mh-container #mh{
    display: block;
}
#burger-container .burger-text{
    text-align: center;
    font-size: 3vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 21vw;
    width: 25.75vw;
    border-radius: 3%;
	background: rgba(0, 0, 0, 0.274);
    color: rgb(255, 255, 255);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 6vw;
    padding-bottom: 3vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#imdb-container .imdb-text{
    text-align: center;
    font-size: 3vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 12vw;
    width: 26.4vw;
    margin-left: 15vw;
    border-radius: 3%;
	background: rgba(0, 0, 0, 0.274);
    color: rgb(255, 255, 255);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 6vw;
    padding-bottom: 3vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#codebreakers-container .codebreakers-text{
    text-align: center;
    font-size: 3vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 21vw;
    width: 27.4vw;
    margin-left: 39vw;
    border-radius: 3%;
	background: rgba(0, 0, 0, 0.418);
    color: rgb(255, 255, 255);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 6vw;
    padding-bottom: 3vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#pace-container .pace-text{
    text-align: center;
    font-size: 3vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 21vw;
    width: 29.34vw;
    margin-left: 54vw;
    border-radius: 3%;
	background: rgba(0, 0, 0, 0.418);
    color: rgb(255, 255, 255);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 6vw;
    padding-bottom: 3vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#friendo-container .friendo-text{
    text-align: center;
    font-size: 3vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 21vw;
    width: 35.3vw;
    margin-left: 14vw;
    margin-top: 20vw;
    border-radius: 1vw;
	background: rgba(0, 0, 0, 0.418);
    color: rgb(255, 255, 255);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 6vw;
    padding-bottom: 3vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
#mh-container .mh-text{
    text-align: center;
    font-size: 3vw;
    opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    height: 21vw;
    width: 28vw;
    margin-left: 40vw;
    margin-top: 20vw;
    border-radius: 1vw;
	background: rgba(255, 255, 255, 0.479);
    color: rgb(0, 0, 0);
    padding-left: 1.9vw;
    padding-right: 1.9vw;
    padding-top: 6vw;
    padding-bottom: 3vw;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
p{
    font-size: 1.3vw;
}
#burger-container:hover .burger-text,
#burger-container.active .burger-text{
    opacity: 1;
}
#imdb-container:hover .imdb-text,
#imdb-container.active .imdb-text{
    opacity: 1;
}
#codebreakers-container:hover .codebreakers-text,
#codebreakers-container.active .codebreakers-text{
    opacity:1;
}
#pace-container:hover .pace-text,
#pace-container.active .pace-text{
    opacity: 1;
}
#friendo-container:hover .friendo-text,
#friendo-container.active .friendo-text{
    opacity: 1;
}
#mh-container:hover .mh-text,
#mh-container.activer .mh-text{
    opacity: 1;
}
#burger-world{
    position: absolute;
    height: 21vw;
    border-radius: 3%;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;

}
#seen-it{
    position: absolute;
    height: 21vw;
    border-radius: 3%;
    margin-left: 15vw;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;

}
#codebreakers{
    position: absolute;
    height: 21vw;
    margin-left: 39vw;
    /* columns: 3/4; */
    border-radius: 3%;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;
}
#pace{
    position: absolute;
    height: 21vw;
    margin-left: 54vw;
    border-radius: 3%;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;
}
#friendo{
    position: absolute;
    height: 21vw;
    margin-top: 20vw;
    margin-left: 14vw;
    border-radius: 1vw;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;
    background-color: rgb(194, 200, 228);
}
#mh{
    position: absolute;
    height: 21vw;
    margin-right: -5vw;
    margin-top: 20vw;
    margin-left: 40vw;
    border-radius: 1vw;
    box-shadow: -9px 13px 32px -6px rgb(33, 7, 59);
    transition: all 1s ease;
    color: white
}
#burger-container:hover{
    transition: 0.5s;
    transform: rotate(-3deg) scale(1.1);
    margin-left: 1vw;
    margin-right: 4vw;
    z-index: 1;
}
#imdb-container:hover{
    transition: 0.5s;
    transform: rotate(-3deg) scale(1.1);
    /* margin-left: 4vw; */
    margin-right: 4vw;
    z-index: 1;
}
#codebreakers-container:hover{
    transition: 0.5s;
    transform: rotate(1deg) scale(1.1) translate(-5vw);
    margin-left: 1.4vw;
    /* margin-right: 0.11vw; */
    z-index: 1;

}
#pace-container:hover{
    transition: 1s;
    transform: rotate(-3deg) scale(1.1) translate(-10vw);
    /* margin-left: -1vw; */
    
     /* margin-right: -20vw; */
     /* z-index:1; */
}
#friendo-container:hover{
    transition: 0.5s;
    transform: rotate(-3deg) scale(1.1) translateY(-1vw);
    margin-right: 1vw;
    margin-left: 1vw;
    z-index: 1;
}
/* #seen-it:hover{
    transition: 0.5s;
    transform: rotate(-3deg) scale(1.1);
    /* margin-left: 10vw; */
    /* margin-right: 4vw; */
    /* z-index: 1; */
/* } */

#mh-container:hover{
        transition: 0.5s;
        transform: rotate(2deg) scale(1.1) translateY(-3vw);
        margin-left: 2vw;
        z-index: 1;
}


#icewrapper{
    grid-row: 3/11;
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%; */
    position: absolute;
    top: 105vw;
    left: 22vw;
    margin-bottom: 1vw;
}
#photography{
    width: 15%;
    margin-left: 21.5vw;
    transition: all ease 0.5s;
}
#photography:hover{
    transition: 0.3s;
    opacity: 40%;
}
#icesouth{
    width: 70%;
    border-radius: 25px;
    margin-bottom: -8vw;
    box-shadow: -2px -4px 31px 8px rgba(61, 48, 77, 0.75);
    transition: all 1s ease;
}
#centralpark{
    width:70%;
    border-radius: 25px;
    margin-bottom: -8vw;

    box-shadow: -2px -4px 31px 8px rgba(61, 48, 77, 0.75);
    transition: all 1s ease;
}
#redrock{
    width:70%;
    border-radius: 25px;
    margin-bottom: -15vw;

    box-shadow: -2px -4px 31px 8px rgba(61, 48, 77, 0.75);

    transition: all 1s ease;
}
#capilano{
    width:70%;
    border-radius: 25px;
    margin-bottom: 5vw;
    box-shadow: -2px -4px 31px 8px rgba(61, 48, 77, 0.75);
    transition: all 1s ease;
}

#icesouth:hover{
    transition: 2s;
    transform: translatey(-35%);
}
#centralpark:hover{
    transition: 2s;
    transform: translatey(-35%);
}
#redrock:hover{
    transition: 2s;
    transform: translatey(-35%);
}
#capilano:hover{
    transition: 2s;
    transform: translatey(0%);

}
